---
import Layout from "../layouts/Layout.astro";
import Html from "../layouts/Html.astro";
import Meta from "../layouts/Meta.astro";
---

<Html>
  <Fragment slot="meta">
    <Meta
      title="Tommy's Website"
      description="I'm a front-end web developer and this is my personal portfolio website"
    />
  </Fragment>
  <Layout>
    <div class="max-w-3xl mx-auto">
      <h1 class="text-7xl mt-8">Work</h1>
      <p class="text-lg max-w-xl mt-5">
        An ex electronic engineer, I have been working as Creative Technologist™
        for 5 years and fallen quite naturally into web development.
      </p>
      <div class="previous">
        <h3 class="my-8 text-center text-xl">I have worked for</h3>
        <div class="logos grid grid-cols-2 grid-rows-[10vw_10vw] gap-10 mb-16">
          <div>
            <a href="https://www.nio.com/">
              <img src="/logos/nio.png" alt="nio" />
            </a>
          </div>
          <div>
            <a href="https://www.designaffairs.com/">
              <img
                src="/logos/desaff.png"
                alt="design affairs (part of accenture)"
              />
            </a>
          </div>
          <div>
            <a href="makery.de/">
              <img src="/logos/makery.png" alt="makery gmbh" />
            </a>
          </div>
          <div>
            <a href="madebyon.com/">
              <img src="/logos/on.png" alt="on" />
            </a>
          </div>
        </div>
      </div>
      <div class="text-center mb-16">
        <p>For a portfolio of professional work,</p>
        <p>
          please <a class="p-1 bg-gray-400" href="#contact">get in touch</a>
        </p>
      </div>
      <div class="spacer"></div>
      <div class="contact">
        <h2 id="contact">Get in touch</h2>
      </div>
      <div class="spacer"></div>
    </div>
  </Layout>

  <style>
    .logos img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .professional a {
      background-color: #ddd;
      padding: 0.2em;
      border-radius: 0.2em;
    }

    .spacer {
      height: 50vh;
    }
  </style>
</Html>
