---
import Layout from "../layouts/Layout.astro";
import Html from "../layouts/Html.astro";
import Meta from "../layouts/Meta.astro";
import Worklogo from "../components/Worklogo.astro";
---

<Html>
  <Fragment slot="meta">
    <Meta
      title="Tommy's Website"
      description="I'm a front-end web developer and this is my personal portfolio website"
    />
  </Fragment>
  <Layout>
    <div class="max-w-3xl mx-auto">
      <div class="mb-20">
        <h1 class="text-7xl mt-8">Work</h1>
        <p class="text-lg max-w-xl mt-5">
          An ex electronic engineer, I have been working as Creative
          Technologist™ for 5 years and fallen quite naturally into web
          development.
        </p>
      </div>
      <div class="previous">
        <h3 class="my-8 text-center text-xl">I've worked for</h3>
        <div class="logos grid grid-cols-2 grid-rows-[10vw_10vw] gap-10 mb-16">
          <div>
            <Worklogo src="/logos/nio.png" link="https://www.nio.com/" alt="nio"
            />
          </div>
          <div>
            <Worklogo
              src="/logos/desaff.png"
              link="https://www.designaffairs.com/"
              alt="design affairs"
            />
          </div>
          <div>
            <Worklogo
              src="/logos/makery.png"
              link="https://www.makery.de/"
              alt="Makery gmbh"
            />
          </div>
          <div>
            <Worklogo
              src="/logos/on.png"
              link="https://www.madebyon.com/"
              alt="ON - web design"
            />
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="px-8 py-4 text-center bg-gray-300 leading-7">
          <p>For a portfolio of professional work,</p>
          <p>
            please <a class="p-1 bg-gray-800 text-white" href="#contact"
              >get in touch
            </a>
          </p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="contact">
        <h2 id="contact">Get in touch</h2>
      </div>
      <div class="h-80"></div>
    </div>
  </Layout>
</Html>
