---
export interface Props {
  title: string;
  link: string;
  img?: string;
}

const { title, link, img } = Astro.props as Props;
---

<article class="card">
  <a href={link} target="_blank">
    {img && <img src={img} alt={title} />}
    <h4>{title}</h4>
  </a>
</article>

<style>
  .card {
    @apply p-1 mb-4 bg-gray-100 hover:bg-gray-400;
    transition: all 0.4s linear;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .card img {
    @apply mb-2;
  }
  .card h4 {
    @apply text-lg mb-4;
  }
  .card:hover a {
    text-decoration: underline;
  }
</style>
