
/*  */

.pf {
}

.introduction {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

    .ptitle {
        font-size: 2rem;
        font-weight: 500;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .pintro {
        width: 80%;
        text-align: justify;
    }

.pgrid {
    column-width: 300px;

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1500px;
    margin-top: 40px;
}

.pgrid article {
    margin-bottom: 20px;
    break-inside: avoid;

}

.card {
    padding: 20px ;
    border-radius: 16px;
    border: 4px inset rgba(199, 199, 199, 0.2)
}

    .card a {
        text-decoration: none;
        color: inherit;
    }
    .card a:hover {
        text-decoration: underline;
    }

    
    article .title {
        width: 60%;
        font-size: 1.6rem;
        /* margin-top: 40px; */
        display: inline-block;
    }

    article .asub {
        display: inline-block;
        margin: 16px 16px;
    }

    .card .img {
        width: 80%;
        margin-left: 10%;
    }

    .card .img.lil {
        width: 50%;
        margin-left: 25%;
    }
    .card img {
        width: 100%;
    }