<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
  </head>

  <body>
    <slot />
    <style is:global>
      /* https://piccalil.li/blog/a-modern-css-reset/ */

      *,
      *::before,
      *::after {
        /* outline: 1px solid #666; */
        box-sizing: border-box;
      }

      /* Remove default margin */
      body,
      h1,
      h2,
      h3,
      h4,
      p,
      figure,
      blockquote,
      dl,
      dd {
        margin: 0;
        font-family: "Roboto", sans-serif;
      }

      ul[role="list"],
      ol[role="list"] {
        list-style: none;
      }

      window,
      html:focus-within {
        scroll-behavior: smooth;
      }

      body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        /* line-height: 1.2; */
        overflow-x: hidden;
      }

      a:not([class]) {
        text-decoration-skip-ink: auto;
      }

      img,
      picture {
        max-width: 100%;
        display: block;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      @media (prefers-reduced-motion: reduce) {
        html:focus-within {
          scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    </style>
  </body>
</html>
